<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frank.itemdecorationdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DividerActivity"></activity>
        <activity android:name=".ColorDividerActivity"></activity>
        <activity android:name=".TimelineActivity"></activity>
        <activity android:name=".BookRankActivity"></activity>
        <activity android:name=".HeaderActivity"></activity>
        <activity android:name=".StickyHeaderActivity"></activity>
    </application>

</manifest>